<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.questionnaire.mapper.QuestionMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO question
        (paper_id,question_type,question_title)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.paperId},
            #{item.questionType},
            #{item.questionTitle}
            )
        </foreach>
    </insert>

    <update id="update">
        update question
        <set>
            <if test = "questionType != null">
                question_type=#{questionType},
            </if>
            <if test = "questionTitle != null and questionTitle != '' ">
                question_title=#{questionTitle},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>