<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.questionnaire.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT user
        <set>
            <if test = "openid != null and openid != '' ">
                openid=#{openid},
            </if>
            <if test = "username != null and username != '' ">
                username=#{username},
            </if>
            <if test = "password != null and password != '' ">
                password=#{password},
            </if>
            <if test = "emailNumber != null and emailNumber != '' ">
                email_number=#{emailNumber},
            </if>
        </set>
    </insert>

    <update id="update">
        update user
        <set>
            <if test = "username != null and username != '' ">
                username = #{username},
            </if>
            <if test = "password != null and password != '' ">
                password = #{password},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="list" resultType="com.questionnaire.pojo.User">
        SELECT * from user
        where id = #{id}
           or (email_number = #{emailNumber} AND #{emailNumber} IS NOT NULL)
           or (openid = #{openid} AND #{openid} IS NOT NULL)
    </select>

    <select id="login" resultType="com.questionnaire.pojo.User">
        SELECT * from user
        where (email_number = #{emailNumber} AND #{emailNumber} IS NOT NULL)
            AND (password = #{password} AND #{password} IS NOT NULL)
    </select>


</mapper>